<div mat-dialog-content>
    <h3>What habit do you wanna create?</h3>
    <br>
    <mat-form-field class="full-width-field">
        <input matInput [(ngModel)]="data.title" placeholder="Title">
    </mat-form-field>
    <mat-form-field class="full-width-field">
        <input matInput [(ngModel)]="data.description" placeholder="Description">
    </mat-form-field>
    <mat-form-field class="full-width-field">
        <mat-label>Priority</mat-label>
        <mat-select [(value)]="data.priority">
            <mat-option *ngFor="let item of priority | keyvalue" [value]="item.key">
                {{item.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>